/* body {
    background-image: url('img/background2.png');
    background-repeat: repeat;
    animation: animate-background 200s linear infinite;
  }
  
  @keyframes animate-background {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  } */

body {
    background-image: url('img/b3.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    animation: animate-background 200s linear infinite;
}

@media (max-width: 768px) {
  body {
      background-image: url('img/mario_long.png'); /* Different static background for mobile */
      background-attachment: fixed;/* Fixed backgrounds can behave unexpectedly on mobile, so 'scroll' is often more reliable */
      background-size: contain; /* Or use '100% 100%' if you want to stretch the background */
      animation: none; /* Disable animation on mobile if desired */
  }
}


@keyframes animate-background {
    from {
      background-position: -100% 0%;
    }
    to {
      background-position: 0% 0%;
    }
}
/* 
body {
  background-image: url('img/mario1.png');
  background-repeat: repeat;
  background-size: 75% 150%;
  background-attachment: fixed;
  animation: pan-background 60s linear infinite;
}

@keyframes pan-background {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% 300%;
  }
}
 */
